/*
 * Original hexagon grid code from
 * http://cssdeck.com/labs/responsive-hexagonal-grid
 *
 * Colors from Open Color swatches at
 * https://yeun.github.io/open-color/
 *
 * ... this all would have been so much easier with Sass,,,
 */

/*TODO font*/

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
/*@import url(https://fonts.googleapis.com/css?family=Marck+Script);*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-family: 'Amatic SC', Georgia, serif;
  font-size: 62.5%;
}
body {
  color: #495057;
  background-color: #f8f9fa;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* idk maybe */
  /*text-transform: lowercase;*/
}
header {
  color: #f8f9fa;
  font-size: 1.5rem;
  padding: 1.25em 2em;
  margin-left: -125px;
}
header h1 {
  font-size: 3em;
  text-transform: lowercase;
}
footer {

}

#everything {
  width: 100vw;
  height: 99vh;
  margin: 1vh 0 0;
  padding: 0 125px;
  overflow-y: scroll;
}

/* hexagons */

#honeycomb {
  margin-top: 35px;
}

.hexagon {
  width: 250px;
  height: 280px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.hexagontent.outer {
  position: absolute;
  width: 250px;
  height: 450px;
  top: -85px;

  overflow: hidden;
  visibility: hidden;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hexagontent.inner {
  overflow: hidden;
  width: 100%;
  height: 100%;

  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagontent.fill {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;

  -webkit-background-size: 125%;
  -moz-background-size: 125%;
  background-size: 125%;
  visibility: visible;

  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* grid: 4 x 4 */

#honeycomb {
  width: 1210px;
}

.hexagon:nth-child(8n-3) {
  margin-left: 135px;
}

.hexagon:nth-child(n+5) {
  margin-top: -45px;
}

/* grid: 4 x 3 */

@media (max-width: 1290px) {
  #honeycomb {
    width: 1080px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(7n-2) {
    margin-left: 135px;
  }

  .hexagon:nth-child(n+5) {
    margin-top: -45px;
  }
}

@media (max-width: 1330px) {
  #honeycomb {
    margin-left: -90px;
  }
}

/* grid: 3 x 3 */

@media (max-width: 1150px) {
  #honeycomb {
    width: 940px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(6n-2) {
    margin-left: 130px;
  }

  .hexagon:nth-child(n+4) {
    margin-top: -45px;
  }
}

/* grid: 3 x 2 */

@media (max-width: 1010px) {
  #honeycomb {
    width: 810px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(5n-1) {
    margin-left: 130px;
  }

  .hexagon:nth-child(n+3) {
    margin-top: -45px;
  }
}

/* grid: 2 x 2 */

@media (max-width: 880px) {
  #honeycomb {
    width: 670px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(4n-1) {
    margin-left: 130px;
  }

  .hexagon:nth-child(n+2) {
    margin-top: -45px;
  }
}

/* grid: 2 x 1 */

@media (max-width: 740px) {
  #honeycomb {
    width: 540px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(3n) {
    margin-left: 130px;
  }

  .hexagon:nth-child(n+2) {
    margin-top: -45px;
  }
}

/* grid: 1 x 1 */

@media (max-width: 610px) {
  #honeycomb {
    width: 400px;
  }

  .hexagon:nth-child(n) {
    margin-top: auto;
    margin-left: auto;
  }

  .hexagon:nth-child(2n) {
    margin-left: 130px;
  }

  .hexagon:nth-child(n+2) {
    margin-top: -45px;
  }
}

/* grid: 1 x 1 ... TODO rotate and stack instead of staggering */
/*@media (max-width: 370px) {
  #honeycomb {
    width: 300px;
  }

  .hexagon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .hexagontent.outer {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }

  .hexagontent.inner,
  .hexagontent.fill {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  .haiku {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}*/

/* haiku-specific */

.hexagon .haiku {
  margin-top: 180px;
  text-align: center;
}
.haiku {
  font-size: 2.25rem;
}
.haiku span {
  display: block;
}

/* COLORS
 * bg-1:  red
 * bg-2:  pink
 * bg-3:  grape
 * bg-4:  violet
 * bg-5:  indigo
 * bg-6:  blue
 * bg-7:  cyan
 * bg-8:  teal
 * bg-9:  green
 * bg-10: lime
 * bg-11: yellow
 * bg-12: orange
 *
 * some hex set with .bg to inherit body bg color
*/

/* mid-pastel hex on dark page */

body {
  color: #495057;
  background-color: #f8f9fa;
}
#everything {
  background-color: #f8f9fa;
}
header, footer {
  color: #495057;
}
header a, footer a {
  color: #868e96;
}
.bg-1,  .bg-1  .bg { background-color: #ffc9c9; }
.bg-2,  .bg-2  .bg { background-color: #fcc2d7; }
.bg-3,  .bg-3  .bg { background-color: #eebefa; }
.bg-4,  .bg-4  .bg { background-color: #d0bfff; }
.bg-5,  .bg-5  .bg { background-color: #bac8ff; }
.bg-6,  .bg-6  .bg { background-color: #a3daff; }
.bg-7,  .bg-7  .bg { background-color: #99e9f2; }
.bg-8,  .bg-8  .bg { background-color: #96f2d7; }
.bg-9,  .bg-9  .bg { background-color: #b2f2bb; }
.bg-10, .bg-10 .bg { background-color: #d8f5a2; }
.bg-11, .bg-11 .bg { background-color: #ffec99; }
.bg-12, .bg-12 .bg { background-color: #ffd8a8; }

/* dark hex on light page */
/*
body {
  color: #dee2e6;
  background-color: #495057;
}
.everything {
  background-color: #e9ecef;
}
header, footer {
  color: #495057;
}
header a, footer a {
  color: #868e96;
}
.bg-1,  .bg-1  .bg { background-color: #f03e3e; }
.bg-2,  .bg-2  .bg { background-color: #d6336c; }
.bg-3,  .bg-3  .bg { background-color: #ae3ec9; }
.bg-4,  .bg-4  .bg { background-color: #7048e8; }
.bg-5,  .bg-5  .bg { background-color: #4263eb; }
.bg-6,  .bg-6  .bg { background-color: #1c7cd6; }
.bg-7,  .bg-7  .bg { background-color: #1098ad; }
.bg-8,  .bg-8  .bg { background-color: #0ca678; }
.bg-9,  .bg-9  .bg { background-color: #37b24d; }
.bg-10, .bg-10 .bg { background-color: #74b816; }
.bg-11, .bg-11 .bg { background-color: #f59f00; }
.bg-12, .bg-12 .bg { background-color: #f76707; }
*/

/* light-pastel hex on dark page */

/*
body {
  color: #495057;
  background-color: #f8f9fa;
}
.everything {
  background-color: #868e96;
}
header, footer {
  color: #f8f9fa;
}
header a, footer a {
  color: #f1f3f5;
}
.bg-1,  .bg-1  .bg { background-color: #fff5f5; }
.bg-2,  .bg-2  .bg { background-color: #fff0f6; }
.bg-3,  .bg-3  .bg { background-color: #f8f0fc; }
.bg-4,  .bg-4  .bg { background-color: #f3f0ff; }
.bg-5,  .bg-5  .bg { background-color: #edf2ff; }
.bg-6,  .bg-6  .bg { background-color: #e8f7ff; }
.bg-7,  .bg-7  .bg { background-color: #e3fafc; }
.bg-8,  .bg-8  .bg { background-color: #e6fcf5; }
.bg-9,  .bg-9  .bg { background-color: #ebfbee; }
.bg-10, .bg-10 .bg { background-color: #f4fce3; }
.bg-11, .bg-11 .bg { background-color: #fff9db; }
.bg-12, .bg-12 .bg { background-color: #fff4e6; }
*/
