/*
 * Original Hexagon Tiles code
 * from Code Pen by Graham Pyne at
 * https://codepen.io/gpyne/pen/iElhp
 *
 * Colors from Open Color swatches at
 * https://yeun.github.io/open-color/
 */

/*TODO size*/
/*TODO grid/container*/
/*TODO haiku-specific*/
/*TODO font*/

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
/*@import url(https://fonts.googleapis.com/css?family=Marck+Script);*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Amatic SC', Georgia, serif;
  font-size: 62.5%;
}
body {
  color: #495057;
  background-color: #f8f9fa;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* idk maybe */
  /*text-transform: lowercase;*/
}
.everything {
  background-color: #495057;
  margin-top: 1vh;
  min-height: 99vh;
  width: 100vw;
  /* bottom: 0.75 * hexagon height, so 1.299 * font size */
  padding: 0 125px 249px;
}
header {
  color: #f8f9fa;
  font-size: 1.5rem;
  padding: 1.25em 2em;
  margin-left: -125px;
}
header h1 {
  font-size: 3em;
  text-transform: lowercase;
}
footer {

}

/* hexagons */

.hexagon {
  position: relative;
  width: 240px; 
  height: 138.56px;
  background-color: #64C7CC;
  margin: 69.28px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 69.28px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 69.28px solid #64C7CC;
}

/*
.hexagon, .hexagon::before, .hexagon::after {
  /* easy way: height is width * 1.732 (h116/w67)
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons *
  font-size: 140px;
  height: 1.732em;
  width: 1em;
  /* border-radius: 20%/5%; *
}
.hexagon {
  position: relative;
  display: inline-block;
  /* left/right margin approx. 25% of .hexagon width + spacing (ml/r18) *
  /*margin: 1px 0.25em;*
  margin: 0.05em 0.30em;
  background-color: #f8f9fa;
  text-align: center;
}
.hexagon::before, .hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
}
.hexagon::before { transform: rotate(-60deg); }
.hexagon::after  { transform: rotate(60deg);  }
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing (t59) *
  top: 0.866em;
}
/*.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}*
.hexagontent {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
  line-height: 1.8;
  z-index: 100;
}
.ibws-fix {
  /* inline-block whitespace fix *
  font-size: 0;
}
#honeycomb {
  margin: 0 auto;
  text-align: center;
}
*/

/* haiku-specific */

.haiku {
  font-size: 2.25rem;
}
.haiku span {
  display: block;
}

/* COLORS
 * bg-1:  red
 * bg-2:  pink
 * bg-3:  grape
 * bg-4:  violet
 * bg-5:  indigo
 * bg-6:  blue
 * bg-7:  cyan
 * bg-8:  teal
 * bg-9:  green
 * bg-10: lime
 * bg-11: yellow
 * bg-12: orange
 *
 * some hex set with .bg to inherit body bg color
*/

/* mid-pastel hex on dark page */

body {
  color: #495057;
  background-color: #f8f9fa;
}
.everything {
  background-color: #f8f9fa;
}
header, footer {
  color: #495057;
}
header a, footer a {
  color: #868e96;
}
.bg-1,  .bg-1  .bg { background-color: #ffc9c9; }
.bg-2,  .bg-2  .bg { background-color: #fcc2d7; }
.bg-3,  .bg-3  .bg { background-color: #eebefa; }
.bg-4,  .bg-4  .bg { background-color: #d0bfff; }
.bg-5,  .bg-5  .bg { background-color: #bac8ff; }
.bg-6,  .bg-6  .bg { background-color: #a3daff; }
.bg-7,  .bg-7  .bg { background-color: #99e9f2; }
.bg-8,  .bg-8  .bg { background-color: #96f2d7; }
.bg-9,  .bg-9  .bg { background-color: #b2f2bb; }
.bg-10, .bg-10 .bg { background-color: #d8f5a2; }
.bg-11, .bg-11 .bg { background-color: #ffec99; }
.bg-12, .bg-12 .bg { background-color: #ffd8a8; }

/* dark hex on light page */
/*
body {
  color: #dee2e6;
  background-color: #495057;
}
.everything {
  background-color: #e9ecef;
}
header, footer {
  color: #495057;
}
header a, footer a {
  color: #868e96;
}
.bg-1,  .bg-1  .bg { background-color: #f03e3e; }
.bg-2,  .bg-2  .bg { background-color: #d6336c; }
.bg-3,  .bg-3  .bg { background-color: #ae3ec9; }
.bg-4,  .bg-4  .bg { background-color: #7048e8; }
.bg-5,  .bg-5  .bg { background-color: #4263eb; }
.bg-6,  .bg-6  .bg { background-color: #1c7cd6; }
.bg-7,  .bg-7  .bg { background-color: #1098ad; }
.bg-8,  .bg-8  .bg { background-color: #0ca678; }
.bg-9,  .bg-9  .bg { background-color: #37b24d; }
.bg-10, .bg-10 .bg { background-color: #74b816; }
.bg-11, .bg-11 .bg { background-color: #f59f00; }
.bg-12, .bg-12 .bg { background-color: #f76707; }
*/

/* light-pastel hex on dark page */

/*
body {
  color: #495057;
  background-color: #f8f9fa;
}
.everything {
  background-color: #868e96;
}
header, footer {
  color: #f8f9fa;
}
header a, footer a {
  color: #f1f3f5;
}
.bg-1,  .bg-1  .bg { background-color: #fff5f5; }
.bg-2,  .bg-2  .bg { background-color: #fff0f6; }
.bg-3,  .bg-3  .bg { background-color: #f8f0fc; }
.bg-4,  .bg-4  .bg { background-color: #f3f0ff; }
.bg-5,  .bg-5  .bg { background-color: #edf2ff; }
.bg-6,  .bg-6  .bg { background-color: #e8f7ff; }
.bg-7,  .bg-7  .bg { background-color: #e3fafc; }
.bg-8,  .bg-8  .bg { background-color: #e6fcf5; }
.bg-9,  .bg-9  .bg { background-color: #ebfbee; }
.bg-10, .bg-10 .bg { background-color: #f4fce3; }
.bg-11, .bg-11 .bg { background-color: #fff9db; }
.bg-12, .bg-12 .bg { background-color: #fff4e6; }
*/
